<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="global-container">
        @Html.Partial("LayoutPartials/_NavPartial")
        <div class="body-container" id="body">
            @RenderBody()
        </div>
        @Html.Partial("LayoutPartials/_FooterPartial")
    </div>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
