@using SimpleWebShop.Services.Models.ViewModels.Home
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="global-container">
        @Html.Partial("LayoutPartials/_NavPartial")
        <div class="body-container" id="body">  
            @RenderBody()
        </div>
        @Html.Partial("LayoutPartials/_FooterPartial")
    </div>

    @Scripts.Render("~/Content/js/bundles")
    @RenderSection("scripts", required: false)
</body>
</html>
