<div class="nav-wrapper">
    <nav class="mb-1 navbar navbar-expand-sm navbar-dark unique-color-dark body-container" id="header">
        @Html.ActionLink("SimpleWebShop", "Index", "Home", new { area = ""}, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </ul>
            @if (this.User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink-333">
                            @if (this.User.IsInRole("Administrator"))
                            {
                                @Html.ActionLink("Administration", "Index", "Dashboard", new {area = "Administration"}, new {@class = "dropdown-item"})
                            }

                            @Html.ActionLink("My Profile", "Index", "Manage", new {area = ""}, new {@class = "dropdown-item"})

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
                            }

                        </div>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", new { area = ""}, new { @class = "nav-link" })
                    </li>
                </ul>
            }
        </div>
    </nav>
</div>
