@model SimpleWebShop.Data.Models.Product
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h1>@Model.Name</h1>
    <h3>@Model.Price</h3>
    <p>@Model.Description<p/>
    <p>@Model.CreatedOn.ToLongDateString()</p>
    <p>@Model.ModifiedOn</p>
    <p>@Model.DeletedOn</p>
</div>