@model ICollection<SimpleWebShop.Services.Models.ViewModels.Home.CategoriesWithNameAndIcon>
@{
    ViewBag.Title = "All";
    var counter = (int)(ViewData["counter"] ?? 0);
}

<h2>All</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Icon</th>
                <th scope="col">Category Name</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete/Bring Back</th>
                <th scope="col">Hard Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td><i class="fas fa-@category.IconClass"></i></td>
                    <td>@category.Name</td>
                    <td>@category.IsDeleted</td>
                    <td>@Html.ActionLink("Edit", "Edit", "CategoriesAdministration", new { id = category.Id }, new { @class = "btn btn-cyan" })</td>
                    <td>
                        @if (category.IsDeleted)
                        {
                            <button class="action-button btn btn-success" data-id="@category.Id" data-action="Undelete" data-category-name="@category.Name">Undelete</button>
                        }
                        else
                        {
                            <button class="action-button btn btn-danger" data-id="@category.Id" data-action="Delete" data-category-name="@category.Name">Delete</button>
                        }
                    </td>
                    <td>
                        <button class="action-button btn btn-elegant" data-id="@category.Id" data-action="HardDelete" data-category-name="@category.Name">Hard Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (ViewBag.pagesCount != null)
        {
            for (int i = 1; i <= ViewBag.pagesCount; i++)
            {
                if (i == ViewBag.pageNumber)
                {
                    <li class="page-item">
                        @Html.ActionLink(i.ToString(), "All", "CategoriesAdministration", new { p = i }, new { @class = "page-link text-primary border" })
                    </li>
                }
                else
                {
                    <li class="page-item">
                        @Html.ActionLink(i.ToString(), "All", "CategoriesAdministration", new { p = i }, new { @class = "page-link text-white bg-primary" })
                    </li>
                }

            }
        }
    </ul>
</nav>


@section scripts
{
    <script src="~/Content/js/deleteCategory.js"></script>
}
