@model ICollection<SimpleWebShop.Web.ViewModels.Home.CategoriesWithNameAndIcon>
@{
    ViewBag.Title = "All";
    var counter = 0;
}

<h2>All</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Icon</th>
            <th scope="col">Category Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td><i class="fas fa-@category.IconClass"></i></td>
                <td>@category.Name</td>
                <td>@Html.ActionLink("Edit","Edit","CategoriesAdministration", new {id = category.Id}, new { @class="btn btn-cyan"})</td>
                <td><button class="delete-btn btn btn-danger" data-id="@category.Id" data-category-name="@category.Name">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Content/js/deleteCategory.js"></script>
}
